@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-xf1xcs');
	src:url('fonts/icomoon.eot?#iefix-xf1xcs') format('embedded-opentype'),
		url('fonts/icomoon.woff?-xf1xcs') format('woff'),
		url('fonts/icomoon.ttf?-xf1xcs') format('truetype'),
		url('fonts/icomoon.svg?-xf1xcs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-inmoment:before {
	content: "\e613";
}

.icon-direction-arrow-down:before {
	content: "\e608";
}

.icon-direction-arrow-up:before {
	content: "\e60d";
}

.icon-sort:before {
	content: "\ec73";
}

.icon-arrow-left:before {
	content: "\ec72";
}

.icon-arrow-up:before {
	content: "\ec74";
}

.icon-arrow-down:before {
	content: "\e62a";
}

.icon-arrow-right:before {
	content: "\e62b";
}

.icon-ok:before {
	content: "\e62c";
}

.icon-remove:before {
	content: "\e62d";
}

.icon-metrics:before {
	content: "\e60e";
}

.icon-home2:before {
	content: "\ebc3";
}

.icon-coaching:before {
	content: "\e601";
}

.icon-comments:before {
	content: "\e60f";
}

.icon-more:before {
	content: "\e60b";
}

.icon-scorecard:before {
	content: "\e618";
}

.icon-excel-file:before {
	content: "\e61d";
}

.icon-pdf-combined:before {
	content: "\e61e";
}

.icon-document:before {
	content: "\e619";
}

.icon-comment-report:before {
	content: "\e61f";
}

.icon-dashboard:before {
	content: "\e7ba";
}

.icon-editable-content:before {
	content: "\e620";
}

.icon-bar-trend:before {
	content: "\e621";
}

.icon-distribution:before {
	content: "\e614";
}

.icon-trend:before {
	content: "\e61a";
}

.icon-logout:before {
	content: "\e617";
}

.icon-location:before {
	content: "\e609";
}

.icon-area:before {
	content: "\e60a";
}

.icon-alert:before {
	content: "\ec9c";
}

.icon-info:before {
	content: "\e61b";
}

.icon-folder-open:before {
	content: "\ec9b";
}

.icon-folder:before {
	content: "\e61c";
}

.icon-comments-low:before {
	content: "\ebdf";
}

.icon-comments-low2:before {
	content: "\ebe0";
}

.icon-comments-neg:before {
	content: "\ebe1";
}

.icon-comments-pos:before {
	content: "\ebe2";
}

.icon-comments-pos2:before {
	content: "\ebe3";
}

.icon-warning:before {
	content: "\ebe4";
}

.icon-legal-safety:before {
	content: "\ebe5";
}

.icon-progress-neg:before {
	content: "\ebe6";
}

.icon-progress-pos:before {
	content: "\ebe7";
}

.icon-survey-low:before {
	content: "\ebe8";
}

.icon-clock:before {
	content: "\ebe9";
}

.icon-minus:before {
	content: "\ec20";
}

.icon-plus:before {
	content: "\ec21";
}

.icon-resize-full:before {
	content: "\e60c";
}

.icon-home:before {
	content: "\e610";
}

.icon-th-card:before {
	content: "\e603";
}

.icon-user:before {
	content: "\e673";
}

.icon-group:before {
	content: "\e629";
}

.icon-list-ul:before {
	content: "\e663";
}

.icon-spinner:before {
	content: "\e668";
}

.icon-filter:before {
	content: "\e66d";
}

.icon-circle-blank:before {
	content: "\e606";
}

.icon-search:before {
	content: "\e66f";
}

.icon-heart:before {
	content: "\e671";
}

.icon-expand:before {
	content: "\e607";
}

.icon-collapse:before {
	content: "\e702";
}

.icon-zoom-in:before {
	content: "\e676";
}

.icon-zoom-out:before {
	content: "\e677";
}

.icon-repeat:before {
	content: "\e680";
}

.icon-lock:before {
	content: "\e682";
}

.icon-bookmark:before {
	content: "\e689";
}

.icon-picture:before {
	content: "\e693";
}

.icon-share:before {
	content: "\e695";
}

.icon-ban-circle:before {
	content: "\e616";
}

.icon-ok-circle:before {
	content: "\e615";
}

.icon-remove-circle:before {
	content: "\e65c";
}

.icon-circle:before {
	content: "\eb2d";
}

.icon-ok-sign:before {
	content: "\e758";
}

.icon-plus-sign:before {
	content: "\e69f";
}

.icon-remove-sign:before {
	content: "\e6a1";
}

.icon-question-sign:before {
	content: "\e6a2";
}

.icon-info-sign:before {
	content: "\e6a3";
}

.icon-minus-sign:before {
	content: "\e6a0";
}

.icon-sign-blank:before {
	content: "\eae9";
}

.icon-edit:before {
	content: "\e611";
}

.icon-check-sign:before {
	content: "\e647";
}

.icon-quote-left:before {
	content: "\e703";
}

.icon-quote-right:before {
	content: "\e704";
}

.icon-tag:before {
	content: "\e748";
}

.icon-cog:before {
	content: "\e752";
}

.icon-list-alt:before {
	content: "\e754";
}

.icon-print:before {
	content: "\e755";
}

.icon-phone:before {
	content: "\e756";
}

.icon-resize-small:before {
	content: "\e759";
}

.icon-calendar:before {
	content: "\e766";
}

.icon-stats:before {
	content: "\e7ae";
}

.icon-eye:before {
	content: "\e7de";
}

.icon-paragraph-left:before {
	content: "\e854";
}

.icon-paragraph-center:before {
	content: "\e8bd";
}

.icon-paragraph-right2:before {
	content: "\e8be";
}

.icon-twitter2:before {
	content: "\e867";
}

.icon-twitter:before {
	content: "\e868";
}

.icon-google-plus2:before {
	content: "\e8c2";
}

.icon-google-plus:before {
	content: "\e8c4";
}

.icon-yelp:before {
	content: "\e8d6";
}

.icon-facebook2:before {
	content: "\ec97";
}

.icon-facebook:before {
	content: "\ec9a";
}

.icon-star-full:before {
	content: "\ea3e";
}

.icon-star-half-full:before {
	content: "\eb3e";
}

.icon-star-empty:before {
	content: "\ea3f";
}

.icon-mobile:before {
	content: "\eb28";
}

.icon-tablet:before {
	content: "\eb27";
}

.icon-laptop:before {
	content: "\eb26";
}

.icon-desktop:before {
	content: "\eb25";
}

.icon-microphone:before {
	content: "\eb4a";
}

.icon-dollar:before {
	content: "\eb6d";
}

.icon-envelope:before {
	content: "\eba5";
}

.icon-share2:before {
	content: "\ebb8";
}

.icon-brush:before {
	content: "\ebf2";
}

.icon-statistics:before {
	content: "\ec10";
}

.icon-pie:before {
	content: "\ec11";
}

.icon-bars:before {
	content: "\ec12";
}

.icon-graph:before {
	content: "\ec13";
}

.icon-picture2:before {
	content: "\ec3d";
}

.icon-folder2:before {
	content: "\ec40";
}

.icon-trash:before {
	content: "\ec42";
}

.icon-tree:before {
	content: "\e600";
}

.icon-sort-ascend:before {
	content: "\e602";
}

.icon-sort-descend:before {
	content: "\e604";
}

.icon-tripadvisor:before {
	content: "\e605";
}

.icon-foursquare:before {
	content: "\e612";
}

.icon-opentable:before {
	content: "\e622";
}

.icon-urbanspoon:before {
	content: "\e623";
}

.icon-paper-survey:before {
	content: "\e624";
}

.icon-hotline:before {
	content: "\e625";
}

.icon-shopping-bag:before {
	content: "\e626";
}

.icon-call-center:before {
	content: "\e627";
}

.icon-comment-card:before {
	content: "\e628";
}

